<div class="container bg-white"> 
<div layout="row" *ngIf="loadThePage === true">
		  <div class="col-md-12 menu form">

             <div class="menu form-2">
				 <form  class="container px-4 py-3" [formGroup]="editEnforcements"  (ngSubmit)="onSubmit(editEnforcements)">
					 
					<div class="form-group form-style">
						<label for="enforcements_assign_id">ID :</label>
						<input type="text" formControlName="enforcements_assign_id" class="form-control" id="enforcements_assign_id"  >
						<span class="error" *ngIf="(submitted || editEnforcements.controls['enforcements_assign_id'].touched ) && editEnforcements.controls['enforcements_assign_id'].errors">
						   This Is A Required Field .
						</span>
   
					  </div>
					   
					   <div class="form-group form-style" >
						<label for="enforcements_first_name">First Name:</label>
						<input type="text"  formControlName="enforcements_first_name" class="form-control" id="enforcements_first_name"  >
						<span class="error"  *ngIf="(submitted || editEnforcements.controls['enforcements_first_name'].touched ) && editEnforcements.controls['enforcements_first_name'].errors">
						  This Is A Required Field  .
						</span>
					  </div>
					   
					  <div class=" form-group form-style" >
						<label for="enforcements_last_name"> Last Name :</label>
						<input type="text" formControlName="enforcements_last_name" class="form-control"   id="enforcements_last_name">
						  <span class="error"  *ngIf="(submitted || editEnforcements.controls['enforcements_last_name'].touched ) && editEnforcements.controls['enforcements_last_name'].errors">
						   This Is A Required Field  .
						</span>
					  </div>
					   
					  <div class="form-group form-style" >
						<label for="enforcements_address">Address:</label>
						<input type="text" formControlName="enforcements_address" class="form-control" id="enforcements_address">
						  <span class="error"  *ngIf="(submitted || editEnforcements.controls['enforcements_address'].touched ) && editEnforcements.controls['enforcements_address'].errors">
						  This Is A Required Field  .
						</span>
					  </div>
					   
					  <div class="form-group form-style" >
						<label for="enforcements_city">City:</label>
						<input type="text" formControlName="enforcements_city" class="form-control" id="enforcements_city">
						  <span  class="error"  *ngIf="(submitted || editEnforcements.controls['enforcements_city'].touched ) && editEnforcements.controls['enforcements_city'].errors">
						   This Is A Required Field .
						</span>
					  </div>
					   
					  <div class="form-group form-style "  >
						<label for="enforcements_state">State:</label>
						<input type="text" formControlName="enforcements_state" class="form-control" id="enforcements_state">
						  <span class="error"  *ngIf="(submitted || editEnforcements.controls['enforcements_state'].touched ) && editEnforcements.controls['enforcements_state'].errors">
						   This Is A Required Field  .
						</span>
					  </div>
					   
					  <div class="form-group form-style" >
						<label for="enforcements_zip">Zip:</label>
						<input type="text" formControlName="enforcements_zip" class="form-control" id="enforcements_zip">
						  <span class="error"  *ngIf="(submitted || editEnforcements.controls['enforcements_zip'].touched ) && editEnforcements.controls['enforcements_zip'].errors">
						   This Is A Required Field  .
						</span>
					  </div>
					   
					  <div class="form-group form-style" >
						<label for="enforcements_phone">Phone:</label>
						<input type="text" formControlName="enforcements_phone" class="form-control" id="enforcements_phone">
						  <span class="error"  *ngIf="(submitted || editEnforcements.controls['enforcements_phone'].touched ) && editEnforcements.controls['enforcements_phone'].errors">
						  This Is A Required Field  .
						</span>
					  </div>
					   
					  <div class="form-group form-style" >
						<label for="enforcements_email">Email :</label>
						<input type="text" formControlName="enforcements_email" class="form-control" id="enforcements_email">
						  <span class="error"  *ngIf="(submitted || editEnforcements.controls['enforcements_email'].touched ) && editEnforcements.controls['enforcements_email'].errors">
						   This Is A Required Field .
						</span>
					  </div>
					   
					  <div class="form-group form-style" >
						<label for="enforcements_dob">DOB :</label>
						<input type="text" formControlName="enforcements_dob" class="form-control" id="enforcements_dob">
						  <span class="error"  *ngIf="(submitted || editEnforcements.controls['enforcements_dob'].touched ) && editEnforcements.controls['enforcements_dob'].errors">
						  This Is A Required Field  .
						</span>
					  </div>
  
					  <div class="form-group form-style" >
						<label for="enforcements_ss">SS#:</label>
						<input type="text" formControlName="enforcements_ss" class="form-control" id="enforcements_ss">
						  <span class="error"  *ngIf="(submitted || editEnforcements.controls['enforcements_ss'].touched ) && editEnforcements.controls['enforcements_ss'].errors">
						  This Is A Required Field  .
						</span>
					  </div>
					   
					  <div class="form-group form-style" >
						<label for="enforcements_hire_date">Hire Date:</label>
						<input type="text" formControlName="enforcements_hire_date" class="form-control" id="enforcements_hire_date">
						  <span class="error"  *ngIf="(submitted || editEnforcements.controls['enforcements_hire_date'].touched ) && editEnforcements.controls['enforcements_hire_date'].errors">
						   This Is A Required Field  .
						</span>
					  </div>
					   
					  <div class="form-group form-style" >
						<label for="enforcements_start_date">Start Date:</label>
						<input type="text"  formControlName="enforcements_start_date" class="form-control"  id="enforcements_start_date">
						  <span class="error"  *ngIf="(submitted || editEnforcements.controls['enforcements_start_date'].touched ) && editEnforcements.controls['enforcements_start_date'].errors">
						   This Is A Required Field  .
						</span>
					  </div>
					   
					  <div class="form-group form-style" >
						<label for="enforcements_app_login">App Login:</label>
						<input type="text" formControlName="enforcements_app_login" class="form-control" id="enforcements_app_login" >
						  <span class="error"  *ngIf="(submitted || editEnforcements.controls['enforcements_app_login'].touched ) && editEnforcements.controls['enforcements_app_login'].errors">
						   This Is A Required Field .
						</span>
					  </div>
					   
					  <div class="form-group form-style" >
						<label for="enforcements_app_password">App Password:</label>
						<input type="text" formControlName="enforcements_app_password" class="form-control" id="enforcements_app_password" >
						  <span class="error"  *ngIf="(submitted || editEnforcements.controls['enforcements_app_password'].touched ) && editEnforcements.controls['enforcements_app_password'].errors">
						   This Is A Required Field .
						</span>
					  </div>
					   
					  <div class="form-group form-style" >
						<label for="enforcements_hours_desired">Hours Desired:</label>
						<input type="text" formControlName="enforcements_hours_desired" class="form-control" id="enforcements_hours_desired" >
						  <span class="error"  *ngIf="(submitted || editEnforcements.controls['enforcements_hours_desired'].touched ) && editEnforcements.controls['enforcements_hours_desired'].errors">
						   This Is A Required Field  .
						</span>
					  </div>
					   
					  <div class="form-group form-style" >
						<label for="enforcements_wage">Wage:</label>
						<input type="text" formControlName="enforcements_wage" class="form-control" id="enforcements_wage" >
						  <span class="error"  *ngIf="(submitted || editEnforcements.controls['enforcements_wage'].touched ) && editEnforcements.controls['enforcements_wage'].errors">
						   This Is A Required Field .
						</span>
						  
					  </div>
					   
					  <div class="form-group form-style" >
						<label for="enforcements_ticket_bonus">Ticket Bonus #:</label>
						<input type="text" id="enforcements_ticket_bonus" formControlName="enforcements_ticket_bonus" class="form-control" >
						  <span class="error"  *ngIf="(submitted || editEnforcements.controls['enforcements_ticket_bonus'].touched ) && editEnforcements.controls['enforcements_ticket_bonus'].errors">
						  This Is A Required Field  .
						</span>
					  </div>
					   
					  <div class="form-group form-style" >
						<label for="enforcements_w_4_with_holding">W-4 Withholding:</label>
						<input type="text" formControlName="enforcements_w_4_with_holding" class="form-control" id="enforcements_w_4_with_holding" >
						  <span  class="error"  *ngIf="(submitted || editEnforcements.controls['enforcements_w_4_with_holding'].touched ) && editEnforcements.controls['enforcements_w_4_with_holding'].errors">
						   This Is A Required Field .
						</span>
					  </div>
					   
					  <div class="form-group form-style" >
						<label for="enforcements_start_with_holding">State Withholding:</label>
						<input type="text" formControlName="enforcements_start_with_holding" class="form-control" id="enforcements_start_with_holding" >
						  <span class="error"  *ngIf="(submitted || editEnforcements.controls['enforcements_start_with_holding'].touched ) && editEnforcements.controls['enforcements_start_with_holding'].errors">
						   This Is A Required Field .
						</span>
					  </div>
					   
					  <div class="form-group form-style">
						<label for="enforcements_comp_rate">Comp Rate:</label>
						<input type="text" formControlName="enforcements_comp_rate" class="form-control" id="enforcements_comp_rate" >
						  <span class="error"  *ngIf="(submitted || editEnforcements.controls['enforcements_comp_rate'].touched ) && editEnforcements.controls['enforcements_comp_rate'].errors">
						  This Is A Required Field .
						</span>
					  </div>
					   
					   <div class="form-group form-style">
						<label for="enforcements_ot_rate">OT Rate:</label>
						<input type="text" formControlName="enforcements_ot_rate" class="form-control" id="enforcements_ot_rate" >
						  <span class="error"  *ngIf="(submitted || editEnforcements.controls['enforcements_ot_rate'].touched ) && editEnforcements.controls['enforcements_ot_rate'].errors">
						  This Is A Required Field .
						</span>
					  </div>
					   
					   
					   <div class="form-group btn-space">
						   
						   <button [disabled]="!editEnforcements.valid" type="submit" size="small" shape="semi-round" nbButton hero status="info"> Save Enforcements <nb-icon icon="save-outline"></nb-icon>
						  </button>
					   
					   </div>
  
					   <div *ngIf="showMessage" class="alert alert-{{messageClass}} alert-dismissible fade show " >
						  {{ messageText  }}
					   </div>
					 
				 </form>
			 </div>
		</div>

</div>	 

</div>