<div class="container"> 
			    
				  <mat-form-field>
					  <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
				  </mat-form-field>

				<div class="mat-elevation-z8">
				  <table mat-table [dataSource]="dataSource" matSort>

					
				 <ng-container matColumnDef="DeploymentName">
					  <th mat-header-cell *matHeaderCellDef mat-sort-header> Deployment Name </th>
					  <td mat-cell *matCellDef="let row"> Will Add it later  </td>
					</ng-container>  	

					
					<ng-container matColumnDef="customer_first_name">
					  <th mat-header-cell *matHeaderCellDef mat-sort-header> First Name </th>
					  <td mat-cell *matCellDef="let row"> {{row.customer_first_name}} </td>
					</ng-container>

					
					<ng-container matColumnDef="customer_last_name">
					  <th mat-header-cell *matHeaderCellDef mat-sort-header> Last Name </th>
					  <td mat-cell *matCellDef="let row" > {{row.customer_last_name}} </td>
					</ng-container>
					  
					  
					<ng-container matColumnDef="customer_email_address">
					  <th mat-header-cell *matHeaderCellDef mat-sort-header> Email </th>
					  <td mat-cell *matCellDef="let row" > {{row.customer_email_address}} </td>
					</ng-container>
					  
					<!-- <ng-container matColumnDef="IsActive">
					  <th mat-header-cell *matHeaderCellDef mat-sort-header> Is Active </th>
					  <td mat-cell *matCellDef="let row" > {{row.IsActive}} </td>
					</ng-container> -->  
					

					  <!-- Action Column -->
					<ng-container matColumnDef="Action">
					  <th mat-header-cell *matHeaderCellDef mat-sort-header>  
						  <div class="button-row">

							  <a mat-flat-button color="info" [routerLink]="['/customers/add']">
									  <button size="small" shape="semi-round" nbButton hero status="info"> 

										  Add Customers 

										  <nb-icon icon="plus-outline"></nb-icon>

									  </button>
							  </a>

						 </div>   
					  </th>
					  <td mat-cell *matCellDef="let row" >


						  <a mat-flat-button color="info" [routerLink]="['/customers', row.customer_id,'edit']">
									  <button  size="small" shape="semi-round" nbButton hero status="info"> 

										  Edit 

										  <nb-icon icon="edit-outline"></nb-icon>

									  </button>
						  </a>

						  <a mat-flat-button color="info" (click)="openDialog(row.customer_id)">
									  <button  size="small" shape="semi-round" nbButton hero status="warning"> 

										  Delete

										  <nb-icon icon="trash-outline"></nb-icon>

									  </button>
						 </a>
						   
						    <a mat-flat-button color="info" [routerLink]="['/customers', row.customer_id,'add-vehicles']">
									  <button  size="small" shape="semi-round" nbButton hero status="info"> 

										  Add Vehicles

										  <nb-icon icon="plus-outline"></nb-icon>

									  </button>
						 </a>

					   </td>
					</ng-container>  

					<tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
					<tr mat-row *matRowDef="let row; columns: displayedColumns;">
					</tr>
				  </table>

				  <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
				</div>
</div>				 
