<div class="container bg-white"> 
<div layout="row">
		  <div class="col-md-12 menu form">

             <div class="menu form-2">
				 <form  class="container px-4 py-3" [formGroup]="editKiosks"  (ngSubmit)="onSubmit(editKiosks)">
					 
					 
					 <div class="form-group form-style" >
					  <label for="kiosksNumber">kiosks Number :</label>
					  <input type="text"  formControlName="kiosksNumber" class="form-control" id="kiosksNumber"  >
					  <span class="error"  *ngIf="(submitted || editKiosks.controls['kiosksNumber'].touched ) && editKiosks.controls['kiosksNumber'].errors">
                        This Is A Required Field  .
                      </span>
					</div>
					 
					<div class=" form-group form-style" >
					  <label for="MacAddress">Mac Address :</label>
					  <input type="text" formControlName="MacAddress" class="form-control"   id="MacAddress">
						<span class="error"  *ngIf="(submitted || editKiosks.controls['MacAddress'].touched ) && editKiosks.controls['MacAddress'].errors">
                         This Is A Required Field  .
                      </span>
					</div>
					 
					<div class="form-group form-style" >
					  <label for="GUID">GUID :</label>
					  <input type="text" formControlName="GUID" class="form-control" id="GUID">
						<span class="error"  *ngIf="(submitted || editKiosks.controls['GUID'].touched ) && editKiosks.controls['GUID'].errors">
                        This Is A Required Field  .
                      </span>
					</div>
					 
					<div class="form-group form-style" >
					  <label for="Password">Password :</label>
					  <input type="text" formControlName="Password" class="form-control" id="Password">
						<span  class="error"  *ngIf="(submitted || editKiosks.controls['Password'].touched ) && editKiosks.controls['Password'].errors">
                         This Is A Required Field .
                      </span>
					</div>
					 
					<div class="form-group form-style "  >
					  <label for="LocationAddress">Location Address :</label>
					  <input type="text" formControlName="LocationAddress" class="form-control" id="LocationAddress">
						<span class="error"  *ngIf="(submitted || editKiosks.controls['LocationAddress'].touched ) && editKiosks.controls['LocationAddress'].errors">
                         This Is A Required Field  .
                      </span>
					</div>
					 
					<div class="form-group form-style" >
					  <label for="City">City :</label>
					  <input type="text" formControlName="City" class="form-control" id="City">
						<span class="error"  *ngIf="(submitted || editKiosks.controls['City'].touched ) && editKiosks.controls['City'].errors">
                         This Is A Required Field  .
                      </span>
					</div>
					 
					<div class="form-group form-style" >
					  <label for="NetworkLogin">Network Login :</label>
					  <input type="text" formControlName="NetworkLogin" class="form-control" id="NetworkLogin">
						<span class="error"  *ngIf="(submitted || editKiosks.controls['NetworkLogin'].touched ) && editKiosks.controls['NetworkLogin'].errors">
                        This Is A Required Field  .
                      </span>
					</div>
					 
					<div class="form-group form-style" >
					  <label for="NetworkPassword">Network Password:</label>
					  <input type="text" formControlName="NetworkPassword" class="form-control" id="NetworkPassword">
						<span class="error"  *ngIf="(submitted || editKiosks.controls['NetworkPassword'].touched ) && editKiosks.controls['NetworkPassword'].errors">
                         This Is A Required Field .
                      </span>
					</div>
					 
					
					 
					 <div class="form-group">
						 
						 <button [disabled]="!editKiosks.valid" type="submit" size="small" shape="semi-round" nbButton hero status="info"> Save Kiosks <nb-icon icon="save-outline"></nb-icon>
						</button>
					 
					 </div>
					 
				 </form>
			 </div>
		</div>

</div>	 

</div>
