<div class="container bg-white"> 
<div layout="row">
		  <div class="col-md-12 menu form">

             <div class="menu form-2">
				 <form  class="container px-4 py-3" [formGroup]="addEnforcements"  (ngSubmit)="onSubmit(addEnforcements)">
					 
					<div class="form-group form-style">
					  <label for="Id">ID :</label>
					  <input type="text" formControlName="Id" class="form-control" id="Id"  >
					  <span class="error" *ngIf="(submitted || addEnforcements.controls['Id'].touched ) && addEnforcements.controls['Id'].errors">
                         This Is A Required Field .
                      </span>
 
					</div>
					 
					 <div class="form-group form-style" >
					  <label for="FirstName">First Name:</label>
					  <input type="text"  formControlName="FirstName" class="form-control" id="FirstName"  >
					  <span class="error"  *ngIf="(submitted || addEnforcements.controls['FirstName'].touched ) && addEnforcements.controls['FirstName'].errors">
                        This Is A Required Field  .
                      </span>
					</div>
					 
					<div class=" form-group form-style" >
					  <label for="LastName"> Last Name :</label>
					  <input type="text" formControlName="LastName" class="form-control"   id="LastName">
						<span class="error"  *ngIf="(submitted || addEnforcements.controls['LastName'].touched ) && addEnforcements.controls['LastName'].errors">
                         This Is A Required Field  .
                      </span>
					</div>
					 
					<div class="form-group form-style" >
					  <label for="Address">Address:</label>
					  <input type="text" formControlName="Address" class="form-control" id="Address">
						<span class="error"  *ngIf="(submitted || addEnforcements.controls['Address'].touched ) && addEnforcements.controls['Address'].errors">
                        This Is A Required Field  .
                      </span>
					</div>
					 
					<div class="form-group form-style" >
					  <label for="City">City:</label>
					  <input type="text" formControlName="City" class="form-control" id="City">
						<span  class="error"  *ngIf="(submitted || addEnforcements.controls['City'].touched ) && addEnforcements.controls['City'].errors">
                         This Is A Required Field .
                      </span>
					</div>
					 
					<div class="form-group form-style "  >
					  <label for="State">State:</label>
					  <input type="text" formControlName="State" class="form-control" id="State">
						<span class="error"  *ngIf="(submitted || addEnforcements.controls['State'].touched ) && addEnforcements.controls['State'].errors">
                         This Is A Required Field  .
                      </span>
					</div>
					 
					<div class="form-group form-style" >
					  <label for="Zip">Zip:</label>
					  <input type="text" formControlName="Zip" class="form-control" id="Zip">
						<span class="error"  *ngIf="(submitted || addEnforcements.controls['Zip'].touched ) && addEnforcements.controls['Zip'].errors">
                         This Is A Required Field  .
                      </span>
					</div>
					 
					<div class="form-group form-style" >
					  <label for="Phone">Phone:</label>
					  <input type="text" formControlName="Phone" class="form-control" id="Phone">
						<span class="error"  *ngIf="(submitted || addEnforcements.controls['Phone'].touched ) && addEnforcements.controls['Phone'].errors">
                        This Is A Required Field  .
                      </span>
					</div>
					 
					<div class="form-group form-style" >
					  <label for="Email">Email :</label>
					  <input type="text" formControlName="Email" class="form-control" id="Email">
						<span class="error"  *ngIf="(submitted || addEnforcements.controls['Email'].touched ) && addEnforcements.controls['Email'].errors">
                         This Is A Required Field .
                      </span>
					</div>
					 
					<div class="form-group form-style" >
					  <label for="DOB">DOB :</label>
					  <input type="text" formControlName="DOB" class="form-control" id="DOB">
						<span class="error"  *ngIf="(submitted || addEnforcements.controls['DOB'].touched ) && addEnforcements.controls['DOB'].errors">
                        This Is A Required Field  .
                      </span>
					</div>

					<div class="form-group form-style" >
					  <label for="SS">SS#:</label>
					  <input type="text" formControlName="SS" class="form-control" id="SS">
						<span class="error"  *ngIf="(submitted || addEnforcements.controls['SS'].touched ) && addEnforcements.controls['SS'].errors">
                        This Is A Required Field  .
                      </span>
					</div>
					 
					<div class="form-group form-style" >
					  <label for="HireDate">Hire Date:</label>
					  <input type="text" formControlName="HireDate" class="form-control" id="HireDate">
						<span class="error"  *ngIf="(submitted || addEnforcements.controls['HireDate'].touched ) && addEnforcements.controls['HireDate'].errors">
                         This Is A Required Field  .
                      </span>
					</div>
					 
					<div class="form-group form-style" >
					  <label for="StartDate">Start Date:</label>
					  <input type="text"  formControlName="StartDate" class="form-control"  id="StartDate">
						<span class="error"  *ngIf="(submitted || addEnforcements.controls['StartDate'].touched ) && addEnforcements.controls['StartDate'].errors">
                         This Is A Required Field  .
                      </span>
					</div>
					 
					<div class="form-group form-style" >
					  <label for="AppLogin">App Login:</label>
					  <input type="text" formControlName="AppLogin" class="form-control" id="AppLogin" >
						<span class="error"  *ngIf="(submitted || addEnforcements.controls['AppLogin'].touched ) && addEnforcements.controls['AppLogin'].errors">
                         This Is A Required Field .
                      </span>
					</div>
					 
					<div class="form-group form-style" >
					  <label for="AppPassword">App Password:</label>
					  <input type="text" formControlName="AppPassword" class="form-control" id="AppPassword" >
						<span class="error"  *ngIf="(submitted || addEnforcements.controls['AppPassword'].touched ) && addEnforcements.controls['AppPassword'].errors">
                         This Is A Required Field .
                      </span>
					</div>
					 
					<div class="form-group form-style" >
					  <label for="HoursDesired">Hours Desired:</label>
					  <input type="text" formControlName="HoursDesired" class="form-control" id="HoursDesired" >
						<span class="error"  *ngIf="(submitted || addEnforcements.controls['HoursDesired'].touched ) && addEnforcements.controls['HoursDesired'].errors">
                         This Is A Required Field  .
                      </span>
					</div>
					 
					<div class="form-group form-style" >
					  <label for="Wage">Wage:</label>
					  <input type="text" formControlName="Wage" class="form-control" id="Wage" >
						<span class="error"  *ngIf="(submitted || addEnforcements.controls['Wage'].touched ) && addEnforcements.controls['Wage'].errors">
                         This Is A Required Field .
                      </span>
						
					</div>
					 
					<div class="form-group form-style" >
					  <label for="TicketBonus">Ticket Bonus #:</label>
					  <input type="text" id="TicketBonus" formControlName="TicketBonus" class="form-control" >
						<span class="error"  *ngIf="(submitted || addEnforcements.controls['TicketBonus'].touched ) && addEnforcements.controls['TicketBonus'].errors">
                        This Is A Required Field  .
                      </span>
					</div>
					 
					<div class="form-group form-style" >
					  <label for="W4Withholding">W-4 Withholding:</label>
					  <input type="text" formControlName="W4Withholding" class="form-control" id="W4Withholding" >
						<span  class="error"  *ngIf="(submitted || addEnforcements.controls['W4Withholding'].touched ) && addEnforcements.controls['W4Withholding'].errors">
                         This Is A Required Field .
                      </span>
					</div>
					 
					<div class="form-group form-style" >
					  <label for="StateWithholding">State Withholding:</label>
					  <input type="text" formControlName="StateWithholding" class="form-control" id="StateWithholding" >
						<span class="error"  *ngIf="(submitted || addEnforcements.controls['StateWithholding'].touched ) && addEnforcements.controls['StateWithholding'].errors">
                         This Is A Required Field .
                      </span>
					</div>
					 
					<div class="form-group form-style">
					  <label for="CompRate">Comp Rate:</label>
					  <input type="text" formControlName="CompRate" class="form-control" id="CompRate" >
						<span class="error"  *ngIf="(submitted || addEnforcements.controls['CompRate'].touched ) && addEnforcements.controls['CompRate'].errors">
                        This Is A Required Field .
                      </span>
					</div>
					 
					 <div class="form-group form-style">
					  <label for="OTRate">OT Rate:</label>
					  <input type="text" formControlName="OTRate" class="form-control" id="OTRate" >
						<span class="error"  *ngIf="(submitted || addEnforcements.controls['OTRate'].touched ) && addEnforcements.controls['OTRate'].errors">
                        This Is A Required Field .
                      </span>
					</div>
					 
					 
					 <div class="form-group">
						 
						 <button [disabled]="!addEnforcements.valid" type="submit" size="small" shape="semi-round" nbButton hero status="info"> Save Enforcements <nb-icon icon="save-outline"></nb-icon>
						</button>
					 
					 </div>
					 
				 </form>
			 </div>
		</div>

</div>	 

</div>