.error
{
	color: red;
}

.form-style
{
    margin: 5px;
    padding: 5px;
}

.bg-white
{
	background-color: rgba(0,0,0,0);
}

select.selectpicker {
    display: block;
    margin: 0 auto;
    padding-left: 20px;
}
.btn-new {
    background-color: #2A3F54;
}


.btn-space{
    margin: 15px 12px;
}