<div class="container bg-white"> 
    <div layout="row">
              <div class="col-md-12 menu form">
    
                 <div class="menu form-2">
                     <form  class="container px-4 py-3" [formGroup]="addUser"  (ngSubmit)="onSubmit(addUser)">
                         
                        <div class="form-group form-style">
                          <label for="FirstName">First Name:</label>
                          <input type="text" formControlName="FirstName" class="form-control" id="FirstName"  >
                          <span class="error" *ngIf="(submitted || addUser.controls['FirstName'].touched ) && addUser.controls['FirstName'].errors">
                             This Is A Required Field .
                          </span>
     
                        </div>
                         
                         <div class="form-group form-style" >
                          <label for="LastName"> Last Name :</label>
                          <input type="text"  formControlName="LastName" class="form-control" id="LastName"  >
                          <span class="error"  *ngIf="(submitted || addUser.controls['LastName'].touched ) && addUser.controls['LastName'].errors">
                            This Is A Required Field  .
                          </span>
                        </div>
                         
                        <div class=" form-group form-style" >
                          <label for="Title">Title  :</label>
                          <input type="text" formControlName="Title" class="form-control"   id="Title">
                            <span class="error"  *ngIf="(submitted || addUser.controls['Title'].touched ) && addUser.controls['Title'].errors">
                             This Is A Required Field  .
                          </span>
                        </div>
                         
                        <div class="form-group form-style" >
                          <label for="Office">Office :</label>
                          <input type="text" formControlName="Office" class="form-control" id="Office">
                            <span class="error"  *ngIf="(submitted || addUser.controls['Office'].touched ) && addUser.controls['Office'].errors">
                            This Is A Required Field  .
                          </span>
                        </div>
                         
                        <div class="form-group form-style" >
                          <label for="Email">Email :</label>
                          <input type="text" formControlName="Email" class="form-control" id="Email">
                            <span  class="error"  *ngIf="(submitted || addUser.controls['Email'].touched ) && addUser.controls['Email'].errors">
                             This Is A Required Field .
                          </span>
                        </div>
                         
                        <div class="form-group form-style "  >
                          <label for="Login">Login:</label>
                          <input type="text" formControlName="Login" class="form-control" id="Login">
                            <span class="error"  *ngIf="(submitted || addUser.controls['Login'].touched ) && addUser.controls['Login'].errors">
                             This Is A Required Field  .
                          </span>
                        </div>
                         
                        <div class="form-group form-style" >
                          <label for="Password">Password:</label>
                          <input type="text" formControlName="Password" class="form-control" id="Password">
                            <span class="error"  *ngIf="(submitted || addUser.controls['Password'].touched ) && addUser.controls['Password'].errors">
                             This Is A Required Field  .
                          </span>
                        </div>
                         
                        <div class="form-group form-style" >
                          <label for="Role">Role :</label>
                          <input type="text" formControlName="Role" class="form-control" id="Role">
                            <span class="error"  *ngIf="(submitted || addUser.controls['Role'].touched ) && addUser.controls['Role'].errors">
                            This Is A Required Field  .
                          </span>
                        </div>
                         
                        <div class="form-group form-style" >
                          <label for="CustomerLastPaymentDate">Active :</label>
                          <input type="text" formControlName="Active" class="form-control" id="CustomerLastPaymentDate">
                            <span class="error"  *ngIf="(submitted || addUser.controls['Active'].touched ) && addUser.controls['Active'].errors">
                             This Is A Required Field .
                          </span>
                        </div>
                         
                        
    
                        
                         
                         
                         <div class="form-group">
                             
                             <button [disabled]="!addUser.valid" type="submit" size="small" shape="semi-round" nbButton hero status="info"> Save Customer <nb-icon icon="save-outline"></nb-icon>
                            </button>
                         
                         </div>
                         
                     </form>
                 </div>
            </div>
    
    </div>	 
    
    </div>